.container {
    max-width: 1140px;
    margin: 0 auto;
}

.upperFooter {
    padding: 80px 0;
}

.copyrightArea {
    padding: 32px 0;
}

.upperFooter {
    display: grid;
    grid-template-columns: 2fr 5fr;
    border-bottom: 1px solid rgba(19, 19, 19, 0.16);
}

.footerLogo img {
    margin-bottom: 15px;
}

.footerLinks {
    display: flex;
    gap: 60px;
    justify-content: flex-end;

}

.footerLinks div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerLinks h3 {
    margin-bottom: 10px;
}

.copyrightArea {
    display: flex;
    justify-content: space-between;
}

.terms a {
    margin-left: 40px;
}